.ContactImage {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  animation: MainAnimate 3s infinite ease alternate;
}
@keyframes MainAnimate {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}
