@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --border: #1f2933;
  --muted-foreground: #9ca3af;
  --sidebar: hsl(0 0% 4%); /* background */
  --sidebar-foreground: hsl(0 0% 96%); /* text */
  --sidebar-primary: hsl(158 55% 45%); /* green brand */
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(0 0% 12%); /* hover */
  --sidebar-accent-foreground: hsl(0 0% 96%);
  --sidebar-border: hsl(0 0% 18%); /* separators */
  --sidebar-ring: hsl(158 55% 45%); /* focus */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.MainText {
  background: linear-gradient(to bottom, #6ee7b7, #9ca3af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ContactImage2 {
  aspect-ratio: 1 / 1;
  animation: MainAnimate 3s infinite ease alternate;
}
@keyframes MainAnimate {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.dark {
  --sidebar: hsl(0 0% 4%); /* background */
  --sidebar-foreground: hsl(0 0% 96%); /* text */

  --sidebar-primary: hsl(158 55% 45%); /* green brand */
  --sidebar-primary-foreground: hsl(0 0% 100%);

  --sidebar-accent: hsl(0 0% 12%); /* hover */
  --sidebar-accent-foreground: hsl(0 0% 96%);

  --sidebar-border: hsl(0 0% 18%); /* separators */

  --sidebar-ring: hsl(158 55% 45%); /* focus */
  --sidebar-Hover: rgba(255, 255, 255, 0.2); /* Hover */
}

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;

  --color-primary: #2fbf84;
  --color-primary-hover: #26a873;
  --color-primary-active: #1e8e61;
  --color-primary-foreground: #052e1b;

  --color-border-style: #000;

  --color-secondary: #6ee7b7;
  --color-secondary-foreground: #064e3b;

  --color-Text-primary: #ededed;
  --color-Text-secondary: #9ca3af;

  --color-accent: #facc15;
  --color-accent-hover: #eab308;
  --color-accent-foreground: #1f2937;

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--color-sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-hover: var(--sidebar-Hover);
  --color-navbar-surface: #1E1E1A;
}
